{{#if loggedIn }}
{{> memberNavbar}}
{{else}}
{{> navbar}}
{{/if}}
<main>
    {{> banner}}
    <div class="d-flex flex-row justify-content-center flex-wrap">
    {{#each threads }}
      {{> threadCard}}
    {{/each}}
  </div>
</main>