{{#if loggedIn }}
{{> memberNavbar}}
{{else}}
{{> navbar}}
{{/if}}
<main>
    {{> banner}}
    <div class="d-flex flex-row justify-content-around flex-wrap">
    {{#each threads as | thread |}}
      {{> threadCard}}
    {{/each}}
  </div>
</main>