{{> memberNavbar}}
<main>
    <div class="jumbotron text-center">
        <h1 class="display-4">{{user.username}}'s dashboard</h1>
        <hr class="my-4" />
        <p class="lead">you can check all your threads and comments on this profile page</p>
    </div>
    <div class="d-flex flex-row justify-content-center flex-wrap">
    {{#each threads as | thread |}}
      {{> threadCard}}
    {{/each}}
    </div>
</main>